@import "reset.css";
.dark{
    background-color: black;
    color: aliceblue;
}
head

body {
    height: 100%;
    width: 100%;
    
}
a{
    margin: auto;
    position: absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    font-size: 30px;

    color: aliceblue;
    text-decoration: none;

}

a:hover{
    color: white
}
.text{
    margin: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    color: aliceblue;
    font-size: 11px;

}
.animated{
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0%;
    right: 0%;
    width: 40%;
}
.hov-anim-box:hover .animated {
    display: inline
  }

  .about{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 400px;
    font-size: 10px;
    color: gray;
  }

  .foot{
    width: 100%;
    position: absolute;
    top: 100%;

  }

